<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        body{
            background-color: rgb(154, 181, 245);
            margin-left: 30px;
        }
        .usage{
            border: 2px solid green;
            background-color: rgb(99, 245, 218);
            width: 350px;
            
        }
    </style>
</head>
<body>
    <br><br>
<u><h1 style="background-color: rgba(51, 205, 143, 0.623); display: inline;">ABOUT SITE & CONTACT DETAILS</h1></u>
    <br><br><div>  
 <details>
        <summary><u> Contact Details</u> </summary>
         <h4> Email : y.pavankumar2002@gmail.com</h4>
         <h4>Linkedin : <a href="https://www.linkedin.com/in/pavankumar2002/">pavankumar2002</a></h4>
         <h4>Github : <a href="https://github.com/ypavankumar2002">ypavankumar2002</a></h4>
</details>
    </div><br>

<div class="usage">
    <code><h2>What User Can Do Here </h2></code>
    <ol>
        <li>User can view others Posts, Without even Creating Account.</li>
        <li>Browse and interact with media content uploaded by other users.</li>
        <li>User can search for the Content by the "Title of the Post"</li>
        <li>Signup/Login to create & upload posts. </li>
        <li>After Signup, User have to Login</li>
        <li>Once User login, you can have you're own profile, where User can manage his/her Posts. </li>
        <li><code style="background-color: rgb(248, 117, 117);">User can upload images or videos, but only One at a Time. </code></li>
        <li>User can Delete his account anytime user want.</li>
        <li>Others cannot Delete youre Posts or Profile. (User will have his own Space and Privacy) </li>
       
    </ol>
<p> Join us and start sharing your moments today!</p>
</div>

</body>
</html>