{% extends 'main.html' %}
{% block content %}

<br>
<div style="float: right;">
    <form action="{%  url 'search' %}" method="GET">
        {% csrf_token %}
     <input type="text" name="q" id="" placeholder="Search" style="border: 3px solid rgb(168, 88, 27);
      border-radius: 20px;" >
      <input type="submit" name="" id="" value="Search" class="btn btn-success">

    </form>
 </div>

<center>
    <span style="visibility: hidden;">llllllllllllll</span>
<h1 style="color: rgb(44, 44, 240); font-style: italic;
 background-color: rgb(22, 185, 130);display: inline;border-radius: 10px;
  font-style: italic; color: black;">
 Welcome To Social Media Site </h1>
 
</center><br>

 

<div style="display: grid; grid-template-columns: 310px 310px 310px 310px ;grid-gap: 2px;">

    {% for post in posts  %}
   
 <div style=" width: 300px; background-color: rgba(123, 115, 241, 0.315); border-radius: 10px;">
  
<br>
    {% if post.image %}
    <center> <img src="{{ post.image.url }}" alt=""  width="300px" height="300px"></center> <br><br>


    {% else %}
    <video src="{{ post.video.url }}" width="300px" height="300px" muted controls loop autoplay></video>
    {% endif %}
    <center><h3> Title: {{ post.title }} </h3></center>
</div>


{% endfor %}
<br><br><br>
</div>

{% endblock content %}

