{% extends 'main.html' %}
{% load static %}
{% include 'nav.html' %}

{% block content %}
<center>
{% if request.user.username %} <br>
    
      <h4>Hello, <span style="text-transform: capitalize;"> {{ request.user.username }}</span> </h4>
   

   <br>

    {% endif %}
 <div style="height: 80px; border: 2px solid black;
  width: 1200px; border-radius: 20px;background-color: burlywood;" ><br>
    <form action="" enctype="multipart/form-data" method="POST" 
    style="display: flex; flex-direction: row; justify-content: space-between;">
        {% csrf_token %}
 
        <label for="" style="color: rgba(33, 19, 16, 0.865);">TITLE :</label>
        <input type="text" name="title" id="" placeholder="Enter the title (max 20)" style="height: min-content; border: 2px solid blue; border-radius: 15px;" maxlength="20">
 

        <label for="">IMAGE:</label>
        <input type="file" name="image" id="" style="height: min-content;">

        <span>  (OR)  </span>
         <h5 style="visibility: hidden;"> OR</h5>

        <label for="">VIDEO :</label>
        <input type="file" name="video" id="" >

        <button type="submit" class="btn btn-warning">Upload</button>
<br>
    </form>
 </div><br>
 <span style="float: right; visibility: hidden;">asfcsvsv</span>

<a href="{% url 'confirm_delete' %}" style="float: right;" class="btn btn-danger">Delete Account</a>

 </center><br><br>
<h3 style="color: rgb(23, 9, 9);"> YOU'RE POSTS :</h3>


<div style="display: grid; grid-template-columns: 300px 300px 300px 300px ;grid-gap: 10px; background-color: rgba(98, 163, 32, 0.365);">

     {% for media in media  %}
    
  <div style=" width: 300px; background-color: aqua; border-radius: 10px;">
   <center><h5> Title: {{ media.title }} </h5></center>
<br>
  {% if media.image %}
  <img src="{{ media.image.url }}" alt=""  width="300px" height="300px"> <br><br>
  


   {% else %}
 <video src="{{ media.video.url }}" width="300px" height="300px" controls autoplay muted loop></video>
{% endif %}

  <center> <button class="btn btn-success"><a href="{% url 'delete' media.id %}" style="text-decoration: none; color: white;"> Delete </a></button><br></center><br>
</div>

{% endfor %}
</div>


{% endblock content %}



